footer {
  background-color: #eeeeee;
  border-top: 1px solid rgba(50, 50, 50, 0.3);
  width: 100%;
  bottom: 0;
  position: relative;
}

@media (max-width: 767.98px) {
  footer {
    min-height: 70px;
  }
}

@media (min-width: 768px) {
  footer {
    min-height: 45px;
  }
}
